.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.header .logo{
    width: 4.9rem;
}


@media (width >= 50.625rem){
    .header{
        padding-block: 1.25rem;
    }
}

@media (width >= 75em){

    .header .logo{
        width: 6.9rem;
    }
}